{$CADDY_DOMAIN} {
	@protected not path /oauth2/* /logout
	forward_auth @protected localhost:3000 {
		uri /api/auth/verify
		copy_headers Location
	}

	import /etc/caddy/conf.d/*.caddy

	handle /* {
		reverse_proxy localhost:3000
	}
}
