{$CADDY_DOMAIN} {
	@notlogin not path /login /logout
	forward_auth @notlogin localhost:3000 {
		uri /api/auth/verify
		copy_headers {
			401 Location
		}
	}

	import /etc/caddy/conf.d/*.caddy

	handle /* {
		reverse_proxy localhost:3000
	}
}
